@charset "UTF-8";
/*样式初始化*/
*{margin:0;padding: 0;}
a{text-decoration: none;: #000;}
img {border: 0; vertical-align:middle;} 
ul li{list-style: none;}
/* body,h1,h2,h3,h4,h5,h6{font: 12px 宋体,Times New Roman;} */
body{background: #fff;  }

/*预定义样式*/
.w{width: 1000px;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.center{margin:0 auto;}
.border{border:1px solid red;}

table{width: 360px;height: 240px;border:none;margin: 0 auto;}
tr,th,td{height: 20px;}
th{width: 60px;}
input:focus{border: 2px solid orange;}

.form{width:800px;/* height:400px; */background-image: url('../img/001.jpg');background-size: 100% auto; }
.add{width: 550px;height: auto;/*border:1px solid #ff6700;*/margin:0px auto;background:#DDDDDD;color:#000;border-radius: 4px;}
.add_main{padding:20px 0;}
.add_main .username{font:16px Times New Roman;height: auto;line-height: 40px;margin:35px 0;}
.add_main .username .shurukuang{width: 220px;height: 30px;border:1px solid #ccc;padding:5px 10px;}
.add_main .username .shurukuang:focus{border: 1px solid blue;background: #F0FFFF;}
.add .add_center .submit{border:none;width: 240px;height: 45px;margin-left:55px;margin-bottom: 10px;background: #385f9e;color: #fff; font-size: 20px;font-weight: bold;letter-spacing: 2px;cursor:pointer;border-radius: 4px;}
.add .add_center .submit:hover{border:2px solid #fff;}	
.image{width: 220px;height: 30px;padding:5px 10px;}
center{font-size: 16px;font-family: 楷体;}
textarea{width: 220px;height: 30px;border:1px solid #ccc;padding:5px 10px;}
.updateImg{width: 80px; height: 80px;margin-right: -200px}
#addRestaurant{border:none;width: 120px;height: 45px;margin-left:55px;margin-bottom: 10px;background: #385f9e;color: #fff; font-size: 20px;font-weight: bold;letter-spacing: 2px;cursor:pointer;border-radius: 4px;}
#addRestaurant:hover{border:2px solid #fff;}	
#addHotel{border:none;width: 120px;height: 60px;/* margin-left:55px; */margin-bottom: 10px;background: #385f9e;color: #fff; font-size: 20px;font-weight: bold;letter-spacing: 2px;cursor:pointer;border-radius: 4px;}
#addHotel:hover{border:2px solid #fff;}	
	